
@import "application/base";
@import "application/utility";
@import "application/element-override";
.page {
  width: 100%;
}

.page-bd {
  padding: 15px 0;
  @include clearfix;
}

.page-hd {
  @include clearfix;
}

.page-ft {
  padding: 15px 0;
  @include clearfix;
}
